@keyframes flicker {
   0% {
      box-shadow: none;
   }

   100% {
      box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
   }
}

.button {
   position: fixed;
   bottom: 100px;
   right: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70px;
   height: 70px;
   background: #391239;
   padding: 20px;
   border-radius: 50%;
   border: none;
   cursor: pointer;
   transition: .3s;
   animation: flicker 0.5s ease infinite alternate;
}

@media (max-width:992px) {
   .button {
      bottom: 60px;
      right: 30px;
      width: 60px;
      height: 60px;
      padding: 18px;
   }
}